{
  "presets":["stage-0","env","react"],
  "plugins":[
    ["inline-react-svg"],
    ["inline-import", {
      "extensions": [".css"]
    }],
    ["inline-import-data-uri"],
    ["styled-components", {
      "ssr": true
    }]
  ]
}
